<div class="nav-master">
  <div class="logo-div">
    <%= link_to root_path do %>
      <%= image_tag "https://res.cloudinary.com/djr22sgp3/image/upload/v1678122421/Finlit_Logo_-_6_pkzxdy.png", class:"logo-finlit"%>
    <% end %>
  </div>
  <div class="navbar-finlit">
    <ul class="nav-elements">
      
      <li class="nav-item"><%= link_to "Dashboard", dashboard_path %></li>
      <li class="nav-item"><%= link_to "Accounts", accounts_path %></li>
      <li class="nav-item"><%= link_to "Discover", "#" %></li>
      <li class="nav-item"><%= link_to "Suggestion", "#" %></li>
    </ul>
  </div>
  <div class="avatar-nav">
    <img class="avatar-reg" src="https://res.cloudinary.com/djr22sgp3/image/upload/v1677950556/max-whitehead-IkjGJX81z_U-unsplash_dw5jiv.png">
  </div>
</div>
