<div class="nav-master">
  <%= link_to root_path class: "logo-div" do %>
    <img class="logo-finlit" title="Home" src="https://res.cloudinary.com/djr22sgp3/image/upload/v1678279740/Finlit_Logo_-_7_ghkx38.png">
  <% end %>
  <div class="navbar-finlit">
    <ul class="nav-elements">
      <%= link_to dashboard_path, class: "nav-buttons" do %><li class="nav-item">Dashboard</li><% end%>
      <%= link_to accounts_path, class: "nav-buttons" do %><li class="nav-item">Accounts</li><% end%>
      <%= link_to "#", class: "nav-buttons" do %><li class="nav-item">Discover</li><% end%>
      <%= link_to suggestions_path, class: "nav-buttons" do %><li class="nav-item">Suggestions</li><% end%>
    </ul>
  </div>
  <div class="avatar-nav">
    <img class="avatar-reg" src="https://res.cloudinary.com/djr22sgp3/image/upload/v1677950556/max-whitehead-IkjGJX81z_U-unsplash_dw5jiv.png">
  </div>
</div>
