<div class="nav-master">
  <%= link_to root_path class: "logo-div" do %>
    <img class="logo-finlit" title="Home" src="https://res.cloudinary.com/djr22sgp3/image/upload/v1678279740/Finlit_Logo_-_7_ghkx38.png">
  <% end %>
  <div class="navbar-finlit">
    <ul class="nav-elements">

      <li class="nav-item"><%= link_to "Dashboard", dashboard_path %></li>
      <li class="nav-item"><%= link_to "Accounts", accounts_path %></li>
      <li class="nav-item"><%= link_to "Discover", "#" %></li>
      <li class="nav-item"><%= link_to "Suggestions", suggestions_path %></li>
    </ul>
  </div>
  <div class="avatar-nav">
    <img class="avatar-reg" src="https://res.cloudinary.com/djr22sgp3/image/upload/v1677950556/max-whitehead-IkjGJX81z_U-unsplash_dw5jiv.png">
  </div>
</div>
