
<div>
    <%= simple_form_for @saving do |f| %>
    <div class="form-inputs">
        <%= f.input :saving_name %>
        <%= f.input :balance %>
        <%= f.input :saving_goal %>
        <%= f.input :time_goal, as: :date %>
    </div>

    <div class="form-actions">
        <%= f.button :submit %>
    </div>
    <% end %>
</div>
