<div id="<%= dom_id saving %>">
  <p>
    <strong>Saving name:</strong>
    <%= saving.saving_name %>
  </p>

  <p>
    <strong>Saving goal:</strong>
    <%= saving.saving_goal %>
  </p>

  <p>
    <strong>Current balance:</strong>
    <%= saving.current_balance %>
  </p>

  <p>
    <strong>User:</strong>
    <%= saving.user_id %>
  </p>

</div>
