<div id="<%= dom_id saving %>">
  <div class="intro-accounts-card">
      <img class="bank-avatar-accounts" src="https://res.cloudinary.com/djr22sgp3/image/upload/v1678225833/Full_Black_BG-W-P0.05_zyr5xs.png"/>
      <p><strong>Saving:</strong><br><%= saving.saving_name %></p>
  </div>
  <div>
  <p>Balance: <%= "£#{number_with_delimiter(saving.balance, :delimiter => ',')}" %></p>
  <p>Goal: <%= "£#{number_with_delimiter(saving.saving_goal, :delimiter => ',')}" %></p>
  <p>Saved: <%= Saving.get_porcentage(saving) %>%</p>
  </div>
</div>
