<%# <p style="color: green"><%= notice %></p> %>
<div class="background-gradient-master-transactions">
  <div class="background-gradient-container-transactions"></div>
  <div class="shadow-gradient"></div>
</div>
<h1 class="transactions-title">Saving - <%= @saving.saving_name%> </h1>
<div class="account-flex">
  <div class="account-grid-item-transaction">
    <div class="return-btn-flex">
       <%= button_to "<", savings_path, class:"return-btn",  :method => :get %>
    </div>
    <%= render @saving %>
    <div>
      <%# ------------ %>
      <div class="btn-pluss-master">
        <nav class="btn-pluss-wrapper">
          <div href="#" class="btn-pluss">
            <ul>
              <li><%= link_to "âœï¸  |  Edit", edit_saving_path(@saving) %></li>
              <li><%= link_to "ðŸ—‘ï¸  |  Delete", saving_path(@saving), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></li>
            </ul>
          </div>
        </nav>
      </div>
      <%# ---------- %>
    </div>
  </div>
  <div class="graph-pie">
    <%= pie_chart Saving.saving_chart(@saving), donut: true, height: '400px', width: '300px', colors: ["#794CF0", "#4C4B4E"], library: {animation: {easing: 'easeOutQuad'}, elements: {arc: {borderWidth: 0}}, plotOptions: { pie: { dataLabels: { enabled: false }}} } %>
  </div>
  <%# <p id="saved-title-show">Saved<br>Â£<span class="account-card-balance"><%= Account.get_porcentage(@account) %>
</div>
<div class="background-gradient-master-transactions">
  <div class="background-gradient-container-transactions-bottom"></div>
</div>
<h1 class="transactions-title-lower">Records</h1>
<div class="transactions-master">
  <div class="transactions-location-div">
    <% @transactions.each do |transaction| %>
      <div class="transaction-btn-flex">
      <%# ---------- %>
      <div class="btn-pluss-transactions-master">
        <div class="btn-pluss-wrapper-transactions">
          <div href="#" class="btn-pluss-transactions">
            <ul>
              <li><%= link_to "âœï¸  |  edit", edit_saving_transaction_path(@saving, transaction) %></li>
              <li><%= link_to "ðŸ—‘ï¸  |  Delete", saving_transaction_path(@saving, transaction), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></li>
            </ul>
          </div>
        </div>
      </div>
      <%# ---------- %>
      </div>
      <div class="transactions-list-master">
        <div class="transactions-card">
          <%= cl_image_tag Icon.find(@saving.icon_id).url, class:"bank-avatar-transaction"%>
          <%= render partial: 'transactions/record', locals: { transactions: transaction } %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <div class="record-btn-flex">
    <%= button_to "+", new_saving_transaction_path(@saving), class: "add-btn", title: "Add Record", method: :get %>
  </div>
</div>
