<div class="background-gradient-master-transactions">
  <div class="background-gradient-container-transactions"></div>
  <div class="shadow-gradient"></div>
</div>
<div class="container-dashboard">
  <div id="title">
    <h1 class="dashboard-title">Your<br>Dashboard</h1>
  </div>
  <div class="widgets">
    <div class="row">
      <div class="column">
        <div class="card">
          <h3 class="h3-dashboard">Accross accounts</h3>
          <div class="balance-card">
            <p>Balance</p>
            <p><%= "£#{number_with_delimiter(@accounts_money, :delimiter => ',')}" %></p>
          </div>
        </div>
        <div class="card" data-controller="news">
          <h3>News</h3>
          <button data-action="news#refresh" id="refresh-btn">⟳</button>
          <p data-news-target="title" id="news-title"></p>
          <a data-news-target="link" id="news-link" href="">Read More...</a>
        </div>
      </div>
      <div class="column">
        <div class="card savings-card">
          <% if @savings.length > 0 %>
            <h3 class="h3-dashboard">Savings - <%= @saving_account.account_name %></h3>
            <br>
            <div id="char">
              <%= pie_chart @saving_chart, donut: true, height: '100px', legend: false, colors: ["#794CF0", "#4C4B4E"], library: {animation: {easing: 'easeOutQuad'}, elements: {arc: {borderWidth: 0}}, plotOptions: { pie: { dataLabels: { enabled: false }}} } %>
            </div>
            <div class="saving-msg">
              <p id="amount"><strong><%= "£#{number_with_delimiter(@saving_gap, :delimiter => ',')}" %></strong></p>
              <p id="text">Remaining to reach your goal</p>
              <p id="motivational-msg">You've got this! 🙌🏽</p>
            </div>
          <% else %>
            <h3>Savings<h3>
            <p>Let's make more Savings!</p>
            <%= link_to "Save Money", new_account_path , class: 'button-create'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
