<div class="log-in-master">
  <div class="log-in-container">
    <h2>Edit Acount</h2>
    <div data-controller="account-card">
      <%= simple_form_for [@account, @transaction] do |f| %>

        <div class="form-inputs">
          <%= f.input :category %>
          <%= f.input :amount %>
          <%= f.input :date %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, value: "Update" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
