<div id="<%= dom_id transactions %>">
  <p>
    <strong>Category:</strong> <%= transactions.category %>,
    <strong>Amount:</strong> <%= transactions.amount %>,
    <strong>Date:</strong> <%= transactions.date %>,
    <strong>Account:</strong> <%= transactions.account_id %>
  </p>
</div>
