<div class="log-in-master">
  <div  data-controller="set-amount"class="log-in-container">
    <h1>New Transaction</h1>

    <div class="container">

        <form class="toggle">

            <input type="radio" id="choice1" name="choice" value="creative">
            <label data-action="click->set-amount#setTrue" data-set-amount-target="income-label" class="Income-text" for="choice1">Income</label>

            <input type="radio" id="choice2" name="choice" value="productive">
            <label data-action="click->set-amount#setFalse" data-set-amount-target="expense-label"class="Expense-text" for="choice2">Expense</label>

            <div id="flap"><span class="content"></span></div>

        </form>

    </div>

    <%= simple_form_for [@account, @transaction] do |f| %>
      <%= f.input :category, collection: ['Groceries', 'Transportation', 'Entertainment', 'Utilities', 'Other'], prompt: "Select a category" %>
      <%= f.input :amount %>
      <%= f.input :date, as: :date %>
      <%= f.button :submit, value: "Add" %>
    <% end %>
    <br>
    <div>
      <%= link_to "< Back to account", account_path(@account) %>
    </div>
  </div>
</div>
