<div class="log-in-master">
  <div class="log-in-container">
    <h1>New transaction</h1>

    <%= simple_form_for [@account, @transaction] do |f| %>
      <%= f.input :category, collection: ['Groceries', 'Transportation', 'Entertainment', 'Utilities', 'Other'], prompt: "Select a category" %>
      <%= f.input :amount %>
      <%= f.input :date, as: :date %>
      <%= f.button :submit, value: "Add" %>
    <% end %>
    <br>
    <div>
      <%= link_to "< Back to account", account_path(@account) %>
    </div>
  </div>
</div>
