<p style="color: green"><%= notice %></p>

<% if @transaction.account_id == nil %>
  
<% else %>
    <%= render @transaction %>
<% end %>

<div>
  <%= link_to "Edit this transaction", edit_transaction_path(@transaction) %> |
  <%= link_to "Back to transactions", transactions_path %>

  <%= button_to "Remove Transaction", @transaction, method: :delete %>
</div>
