<div id="<%= dom_id account %>">
  <p>
    <strong>Account name:</strong>
    <%= account.account_name %>
  </p>

  <p>
    <strong>Account type:</strong>
    <%= account.account_type %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

  <p>
    <strong>User:</strong>
    <%= account.user_id %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= account.account_number %>
  </p>

</div>
