<div id="<%= dom_id account %>">
  <p data-select-accounts-target="type">
    <%= account.account_type %>
  </p>
  <p data-select-accounts-target="type">
    <%= account.account_name %>
  </p>
  <p data-select-accounts-target="type">
    <%= account.balance %>
  </p>
  <p data-select-accounts-target="type">
    <%= account.saving_goal %>
  </p>
</div>
