<div id="<%= dom_id account %>">
  <p data-select-accounts-target="type">
    <strong>Type:</strong> <%= account.account_type %>
  </p>
  <p data-select-accounts-target="type">
    <strong>Name:</strong> <%= account.account_name %>
  </p>
  <p data-select-accounts-target="type">
    <strong>Number:</strong> <%= account.account_number %>
  </p>
  <p data-select-accounts-target="type">
    <strong>Balance:</strong> <%= "£#{number_with_delimiter(account.balance, :delimiter => ',')}" %>
  </p>
</div>
