<div id="<%= dom_id account %>">
  <p data-select-accounts-target="type">
    <%= account.account_type %>
  </p>
  <p data-select-accounts-target="type">
    <%= account.account_name %>
  </p>
  <p data-select-accounts-target="type">
    <%= "£#{number_with_delimiter(account.balance, :delimiter => ',')}" %>
  </p>
  <p data-select-accounts-target="type">
    <%= "#{number_with_delimiter(account.saving_goal, :delimiter => ',')}" %>
  </p>
</div>
