<div class="log-in-master">
  <div class="create-account-container" data-controller="account-card">
    <div class="add-account-bank-avatar-master">
      <% %>
      <%# <%= cl_image_tag Icon.all.first.url, class:"add-account-bank-avatar"%>
      <%# <button class="modify-btn" title="Update Account Picture" data-account-card-target="iconButton" data-action="click->account-card#changeIcon">+</button> %>
    </div>
    <h2 class="add-account-h2">Add an Account</h2>
    <br>
    <div>
      <%= simple_form_for [@account], data: { account_card_target: "form" } do |f| %>
        <div class="form-inputs">
          <%= f.input :account_name %>
          <%= f.input :account_type,
                      collection: ['Current account', 'Cash', 'Credit card', 'Investment'],
                      prompt: "Select a type" %>
          <%= f.input :balance %>
          <%= f.input :account_number  %>
        </div>
        <%= f.association :icon,
                        as: :radio_buttons,
                        collection: Icon.all.map { |icon| [str="'", icon.id, style: "background-image: url(#{cl_image_path(icon.url)});"] },                       
                        input_html: { 
                        class: "icon-radio"
                        }
        %>
        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
