<div class="log-in-master">
  <div class="create-account-container">
    <h2>Create an Acount</h2>
    <br>
    <div data-controller="account-card">
      <%= simple_form_for @account, data: { account_card_target: "form" } do |f| %>
        <div class="form-inputs">
          <%= f.input :account_name %>
          <%= f.input :account_type,
                      collection: ['Current account', 'Savings', 'Cash', 'Credit card', 'Investment'],
                      prompt: "Select a type",
                      input_html: { data: { account_card_target: 'input', action: "change->account-card#accountType" } } %>
          <%= f.input :balance %>
          <div data-account-card-target="accountNumber">
            <%= f.input :account_number  %>
          </div>
          <div data-account-card-target="goalField" >
            <%= f.input :saving_goal %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
