<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :account_name %>
    <%= f.input :account_type, collection: ['Current account', 'Transportation', 'Entertainment', 'Utilities', 'Other'], prompt: "Select a type"  %>
    <%= f.input :balance %>
    <%= f.input :account_number %>
    <div id="goal-input" >
      <%= f.label :saving_goal%>
      <%= f.input :saving_goal %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>