<p style="color: green"><%= notice %></p>
<div class="background-gradient-master-accounts">
  <div class="background-gradient-container-accounts"></div>
  <div class="shadow-gradient"></div>
</div>
    <div class="accounts-menu">
      <h1 class="accounts-title">Accounts</h1>
      <div class="add-btn-flex">
        <%= button_to "+", new_account_path, :class => "add-btn", :title => "Add an Account >", :method => :get %>
      </div>
    </div>
    <div id="accounts">
      <div class="account-grid-container">
        <% @accounts.each do |account| %>
          <div class="account-card">
            <div class="acc-btn-flex">
              <%= button_to "•••", account, :class => "acc-btn", :title => "See More", :method => :get %>
            </div>
            <div class="account-grid-item">
              <%= link_to account, :class => "grid-item-link" do %>
                <%= render account %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
