<p style="color: green"><%= notice %></p>
<div class="background-gradient-master-accounts">
  <div class="background-gradient-container-accounts"></div>
  <div class="shadow-gradient"></div>
</div>
    <div data-controller="select-accounts">
      <div class="accounts-menu">
        <div class="accounts-title-row">
          <div>
            <h1 class="accounts-title" data-select-accounts-target="title"><%= @selected_option %></h1>
          </div>
          <div>
            <%= form_with url: accounts_path, method: :get, class: "d-flex" do %>
              <%= select_tag :query,
                options_for_select([[@filter_option_1, @text_option_1], [@filter_option_2, @text_option_2]]),
                data: { select_accounts_target: "switch", action: "change->select-accounts#displayAccounts" }
              %>
              <%= submit_tag "Filter", class: "btn btn-primary", data: { select_accounts_target: "btn" }%>
            <% end %>
          </div>
        </div>
        <div class="add-btn-flex">
          <%= button_to "+", new_account_path, :class => "add-btn", :title => "Add an Account >", :method => :get %>
        </div>
      </div>
      <div id="accounts">
        <div class="account-grid-container" data-select-accounts-target="grid">
          <% @accounts.each do |account| %>
            <div class="account-card">
              <div class="acc-btn-flex">
                <%= button_to "•••", account, :class => "acc-btn", :title => "See More", :method => :get %>
              </div>
              <%= link_to account, class:"account-grid-item" do%>
                <%= render account %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
